html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #a0a0a0;
    font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;
}

.tpro, .tpro-content{
    font-family: serif;
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}





.opening {
    display: block;
    width: 100vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOutOriginal forwards 1s 5s linear;
}

@keyframes fadeOutOriginal {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.op-content {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-weight: bold;
    animation: bounceOutUp forwards 1s 4s linear;
}

.op-content > p {
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}

.op-content > p:nth-child(1) {
    opacity: 0;
    animation: fadeIn forwards 1s 1s linear;
}

.op-content > p:nth-child(2) {
    opacity: 0;
    animation: fadeIn forwards 1s 2s linear;
}






.logo {
    width: 25%;
    position: absolute;
    mix-blend-mode: difference;
    z-index: 5;
    inset: 0;
    margin: auto;
}

.up-left, .down-right {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}

.up-left {
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0%, 0 100%);
    transform: translateY(0%);
}

.down-right {
    background-color: #0e0e0e;
    clip-path: polygon(0 100%, 100% 0%, 100% 100%);
    transform: translateY(0%);
}

h2 {
    position: absolute;
    text-align: center;
    font-size: 2.8vw;
}

.up-left h2 {
    top: 25%;
    left: 10%;
}

.down-right h2 {
    bottom: 25%;
    right: 10%;
    color: #ffffff;
}



.nav {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 15;
}

.tpro {
    right: 0;
}

.humburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    z-index: 11;
    width: 15vmin;
    height: 15vmin;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
}

.cpro-hmgr {
    top: 0;
    left: 0;
    margin-top: 5%;
    margin-left: 5%;
    background-color: azure;
    box-shadow: #000000 0px 0px 13px;
}

.tpro-hmgr {
    bottom: 0;
    right: 0;
    margin-bottom: 5%;
    margin-right: 5%;
    background-color: #000000;
    box-shadow: #ffffff 0px 0px 13px;
}

.touch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 140%;
    opacity: 0;
    width: auto;
    pointer-events: none;
    animation: flash 5s 1s linear infinite;
}

.tpro .touch {
    left: auto;
    right: 140%;
}

.touch img {
    width: 35%;
    margin-right: 5%;
    margin-left: 5%;
    mix-blend-mode: difference;
}

.tpro .touch img {
    transform: rotateY(180deg);
}

.touch p {
    margin: 0;
    white-space: nowrap;
    font-size: 3vw;
}

.tpro .touch p {
    color: #ffffff;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.humburger-line {
    height: 5px;
    background-color: #313131;
    margin-bottom: 10%;
    transition: 1s;
    width: 70%;
    position: absolute;
}

.tpro-hmgr .humburger-line {
    background-color: #ffffff;
}

.humburger-line:nth-child(1) {
    top: 50%;
    transform: rotateZ(90deg);
}

.humburger-line:nth-child(2) {
    top: 50%;
}

.drawer-hidden {
    display: none;
}


.nav_content {
    position: absolute;
    width: 100vw;
    height: 100%;
    inset: 0;
    margin: auto;
    opacity: 1;
    z-index: 2;
    transition: 1s;
}

.cpro_content {
    background-color: #ffffff;
}

.tpro_content {
    background-color: #0e0e0e;
}

.preview {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

video {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

.contents-wrp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.tpro .contents-wrp {
    flex-direction: row-reverse;
}

.contents-title {
    position: absolute;
    font-size: 5vw;
    top: 2%;
    right: 2%;
}

.tpro .contents-title {
    color: #ffffff;
    right: auto;
    left: 2%;
}

.contents-title p {
    margin: 0;
    transform: scaleY(2);
    font-weight: bold;
}

.visit {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
}

.visit a{
    white-space: nowrap;
    text-align: center;
    padding: 2vmin 8vmin;
    border: 4px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 4.5vw;
    transition: 0.5s;
    text-decoration: none;
    animation: anima-button-30 2s infinite;
}

.visit a:hover {
    color: #fff;
    background-color: #4f4f4f;
}

@keyframes anima-button-30 {
    0% {
        box-shadow: 0 0 0 0 rgb(79 79 79 / 50%);
    }
    50% {
        box-shadow: 0 0 0 1.2em rgb(0 0 0 / 0%);
    }
    0% {
        box-shadow: 0 0 0 0 rgb(79 79 79 / 50%);
    }
}


.products {
    width: 45%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 44%;
}

.vpro, .dcho {
    width: 55%;
}

.epro, .mpro {
    width: 30%;
}

.mng, .cas {
    width: 45%;
}

.mng p, .cas p {
    color: #ffffff;
}

.product p {
    margin: 0;
    font-size: 1.7vw;
    font-weight: bold;
    text-align: center;
}

.product img {
    width: 100%;
}



@media screen and (max-width:1250px) {
    .logo {
        width: 50%;
    }
    .humburger {
        width: 20vmin;
        height: 20vmin;
    }
    h2 {
        font-size: 5.5vw;
    }
    .touch p {
        font-size: 4.5vw;
    }
    .nav_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contents-title {
        display: none;
    }
    .contents-wrp , .tpro .contents-wrp {
        height: 70%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .products {
        width: 90%;
    }
    .visit a {
        font-size: 9.5vw;
    }
    .product p {
        font-size: 3.6vw;
    }
}