html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: #ffffff;
}

main {
    margin-top: 8vmin;
    margin-bottom: 10vmin;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    animation: fadeIn forwards 0.3s 0.7s linear;
}

#main-area {
    width: 70vw;
}

h1 {
    position: fixed;
    font-size: 8vmin;
    margin: 0;
    opacity: 0.5;
    z-index: 100;
    top: 30vh;
    left: 0;
    writing-mode: vertical-rl;
    line-height: 0.6;
}

.talents {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.talent {
    width: 31%;
    margin: 1%;
    margin-bottom: 5%;
    text-decoration: none;
    list-style: none;
    opacity: 0;
}

.talent a{
    color: #c2c2c2;
    text-decoration: none;
}

.fadeiner {
    animation: fadeIn forwards 0.5s 0.3s linear;
}

.talent-img {
    width: 100%;
    aspect-ratio: 661/865;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.talent-img:hover {
    box-shadow: #ffffff 0px 0px 13px;
}

.talent-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.talent p {
    transition: 0.3s;
    text-align: center;
}

.talent-img img:hover{
    transform: scale(1.1);
}

.talent:hover p {
    color: #ffffff;
}

.name {
    margin: 1vmin;
    font-size: 1.7vw;
}

.job {
    margin: 1vmin;
    font-size: 1.2vw;
    color: #8a8a8a;
    font-weight: bolder;
}

@media screen and (max-width: 1250px) {
    .talent {
        width: 40%;
        margin: 5%;
    }
    .talent p {
        white-space: nowrap;
        font-size: 3vmin;
    }
}