html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: #ffffff;
}

h1 {
    position: fixed;
    font-size: 8vmin;
    margin: 0;
    opacity: 0.5;
    z-index: 100;
    top: 30vh;
    left: 0;
    writing-mode: vertical-rl;
    line-height: 0.6;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20vmin;
    margin-top: 15vh;
}

.profile {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 80vw;
}

.prof-img {
    margin-right: 8vw;
    position: relative;
    width: 35vw;
    height: calc(35vw * 43/33);
}

.prof-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border: #ffffff solid 1px;
    transform: translate(2%, 2%);
    z-index: 0;
}

.prof-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    width: 35vw;
}

h2 {
    font-size: 4vw;
    margin: 0;
    border-bottom: #ffffff solid 1px;
    margin-top: 2vmin;
    margin-bottom: 1vmin;
}

h3 {
    font-size: 2.5vmin;
    color: #8d8d8d;
    margin: 0;
    margin-bottom: 4vmin;
}

.sns {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 3vmin;
    display: none;
}

.sns img {
    width: 1.9vmax;
    margin-right: 1vw;
}

.info-content {
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
    font-size: 1.8vmin;
}

.info-content p {
    margin: 0;
}

.info-head {
    width: calc(1.8vmin * 9);
}

.career-head {
    font-size: 2.5vmin;
    width: fit-content;
    line-height: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-decoration: underline;
}

.career-head:nth-child(1) {
    padding-top: 1rem;
}

.career ul {
    margin: 0;
    padding: 0;
}

.career ul , .info-content p:nth-child(2) {
    width: calc(35vw - (1.8vmin * 6));
    color: #b9b9b9;
}

h4 {
    margin: 0;
    font-size: 140%;
}

.career ul li {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    list-style: none;
    margin-left: 1rem;
}

@media screen and (max-width: 1250px) {
    .prof-img {
        width: 100%;
        height: calc(80vw * 43/33);
        margin-bottom: 6vmin;
    }
    .info {
        width: 100%;
    }
    .info-content p {
        font-size: 3vw;
    }
    .info-head {
        width: calc(3vw * 6);
    }
    .career ul , .career ul li p {
        width: calc(80vw - (3vmin * 6));
    }
    .profile {
        flex-direction: column;
    }
}