html {
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: url(/images/cursor-umb.png), default;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

#top-filter {
    margin: auto;
    padding: 0;
    position: absolute;
    inset: 0;
    opacity: 0.1;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-image: linear-gradient(90deg, #868686 1px, transparent 0),
    linear-gradient(#5e5e5e 1px, transparent 0);
    background-size: 20px 20px;
}

#top-filter2 {
    content: "";
    margin: auto;
    padding: 0;
    position: absolute;
    inset: 0;
    opacity: 0.1;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-image: linear-gradient(90deg, #868686 2px, transparent 0),
    linear-gradient(#616161 2px, transparent 0);
    background-size: 100px 100px;
}

#top {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    top: 0%;
    width: 100%;
    height: 100vh;
}

#top-video {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#cname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 1vh;
    left: 0;
    width: 80%;
    z-index: 2;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}

#cname p {
    margin: 0;
    padding: 0;
    font-size: 6vw;
    font-weight: bold;
    transform: scale(1, 2);
}

.contact-button {
    width: 12vmin;
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    margin: 0;
    transition: 0.5s;
    z-index: 100;
    mix-blend-mode: difference;
}

.contact-button svg {
    overflow: visible;
    position: relative;
    animation: rotate 10s infinite linear;
}

.contact-button path {
    fill: none;
    transition: 0.5s;
}

.contact-button text {
    fill: #ffffff;
    transition: 0.5s;
}

.contact-button img {
    width: 7vmin;
    position: absolute;
    inset: 0;
    margin: auto;
    transform-origin: center ;
}

.contact-button:hover img {
    animation: changeMail 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes changeMail {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(10%, -10%);
    }
}

main {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: #424242 5px solid;
}

.main-bg {
    position: fixed;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.bgumb {
    position: fixed;
    bottom: -15%;
    right: -9%;
    width: 30%;
    z-index: -2;
    opacity: 1;
    animation: rotationz 10s infinite linear;
}

@keyframes rotationz {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.main-header-wrp {
    height: 10vmin;
    width: min-content;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 100;
}

#main-header-use {
    position: fixed;
    display: none;
}

.main-header-wrp::after {
    content: "";
    width: 10vmin;
    height: 10vmin;
    transform: translateX(-1%);
    clip-path: polygon(0 0, 100% 0%, 0 100%);
    background-color: #afafaf;
    z-index: 1;
}

.main-header {
    width: 40vw;
    background-color: #afafaf;
    height: 10vmin;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-menu {
    margin: 0;
    padding: 0;
    margin-right: 5vmin;
}

.main-header-menu a {
    margin: 0;
    padding: 0;
    font-size: 2.3vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    text-decoration: none;
    border-right: #000 1px solid;
    color: rgb(0, 0, 0);
}

.main-header-menu a:hover {
    color: rgb(148, 148, 148);
}

.main-header-menu a:last-child {
    border-right: none;
}

.interval {
    height: 12vmin;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.fadeiner {
    animation: fadeIn 0.5s 0.2s linear forwards;
}

.about {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b3b3b;
}

.about-content {
    position: relative;
    width: 80%;
    margin: 0;
    padding: 0;
}

.about-content::after {
    content: "Mission";
    font-size: 9vw;
    font-weight: bolder;
    position: absolute;
    color: #c5c4c4;
    top: -28%;
    left: -6%;
}

.about-content p:nth-child(1) {
    font-size: 3.5vw;
    font-weight: bolder;
    text-decoration: dotted underline;
    text-align: center;
    margin-bottom: 15vmin;
}

.about-content p:nth-child(2) {
    font-size: 2vw;
    font-weight: lighter;
    text-align: center;
}

.more {
    margin: 0;
    padding: 0;
    padding: 1vmin;
    width: 18vmin;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    position: absolute;
    right: 4vmin;
    bottom: 0;
    transition: 0.5s;
}

.about-content .more {
    bottom: -30%;
}

.more a {
    margin: 0;
    padding: 0;
    font-size: 2.3vmin;
    font-weight: lighter;
    white-space: nowrap;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.more::before {
    content: "";
    display: block;
    width: 1px;
    height: 2vmin;
    position: absolute;
    border-left: #000 solid 1px;
    right: 0;
    bottom: 0;
    transform: translate(-0.4vmin, 0.4vmin) rotateZ(-45deg);
}

.more::after {
    content: "";
    display: block;
    width: 1px;
    height: 2vmin;
    position: absolute;
    border-left: #000 solid 1px;
    right: 0;
    bottom: 0;
    transform: translate(-0.4vmin, 1.8vmin) rotateZ(45deg);
}

.more:hover {
    width: 15vmin;
}

.production {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
    padding-top: 15vh;
    overflow: hidden;
}

.production .mySwiper4 {
    width: 100%;
    height: auto;
    transform: rotate3d(1, 1, 1, 10deg);
}

.mySwiper4 {
    height: 80%;
}

.production-content {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    padding-top: 5vmin;
    padding-bottom: 10vmin;
}

.production-content:nth-child(1) p:nth-child(1) {
    font-size: 7vw;
}

.production-content:nth-child(1) {
    background-color: #6b6b6b;
}

.production-content:nth-child(2) {
    background-color: #000000;
    color: #eeeeee;
}

.production-content:nth-child(3) {
    background-color: #735792;
    color: #ffffff;
}

.production-content:nth-child(4) {
    background-color: #c09405;
    color: #ffffff;
}

.production-content:nth-child(5) {
    background-color: #759bee;
    color: #ffffff;
}

.production-content p:nth-child(1) {
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
    transform: scaleY(1.3);
}

.production-content p:nth-child(2) {
    font-size: 1.7vw;
    font-weight: lighter;
    text-align: center;
}

.new-works {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.works {
    width: 100%;
    position: relative;
}

.works-info {
    position: relative;
}

.works-info p {
    margin: 0;
    font-size: 7vmax;
    margin-right: 10vw;
    margin-bottom: 4vmin;
    font-weight: bolder;
    text-align: right;
    color: #4b4b4b;
}

.works swiper-container {
    width: 45%;
    height: calc(60vw * 0.5);
}

.works swiper-slide {
    background-position: center;
    background-size: cover;
}

.works swiper-slide img {
    display: block;
    width: 100%;
}

.works img {
    cursor: url(/images/viewcontent.png), default;
}

.new-events {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.mySwiper {
    width: 100%;
    height: 69vh;
}

@keyframes rotater {
    0% {
        transform: rotate(180deg 0deg 0deg);
    }
    100% {
        transform: rotate(60deg 0deg 0deg);
    }
}

.mySwiper1 swiper-slide {
    width: 45%;
}

.mySwiper1 swiper-slide img {
    aspect-ratio: 16/9;
}

.mySwiper swiper-slide {
    width: auto;
    max-width: 90vw;
    height: 65vh;
}

.event {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.events-info {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.events-info p {
    margin: 0;
    font-size: 6vmax;
    margin-right: 10vw;
    font-weight: bolder;
    text-align: right;
    color: #4b4b4b;
}

.event-info {
    width: 100%;
    height: 20%;
    text-align: center;
}

.event-info p{
    margin: 0;
    margin-top: 1.5vmin;
}

.event-info p:nth-child(1) {
    font-size: 2vmax;
    font-weight: bolder;
    color: #000;
}

.event-info p:nth-child(2) {
    font-size: 1.5vmax;
    color: #6b6b6b;
}

.event a {
    height: 100%;
    text-decoration: none;
}

.sambnail {
    height: 80%;
    object-fit: scale-down;
    cursor: url(/images/viewcontent.png), default;
    width: auto;
    margin: 0;
}


@media screen and (max-width:500px) { /*phone*/

}

@media screen and (max-width:1250px) {
    #cname {
        bottom: 15%;
    }
    .bgumb {
        bottom: -5%;
        right: -12%;
        width: 50%;
    }
    .main-header-wrp {
        display: none;
    }
    .main-header-use {
        display: none;
    }
    .more {
        bottom: -10%;
    }
    .about-content p:nth-child(1) {
        font-size: 8vw;
    }
    .about-content p:nth-child(2) {
        font-size: 3vw;
    }
    .contents {
       flex-direction: column;
       height: auto;
    }
    swiper-slide {
        width: 70%;
    }
    .mySwiper4 {
        width: 100%;
    }
    .production-content {
        height: 70vh;
    }
    .production-content p:nth-child(1) {
        font-size: 8vw;
    }
    .production-content:nth-child(1) p:nth-child(1) {
        font-size: 10vw;
    }
    .production-content p:nth-child(2) {
        font-size: 2.8vw;
    }
    .works swiper-container {
        width: 80%;
        height: calc(85vw * 0.6);
    }
    .works .more {
        bottom: -30%;
    }
    .scroll {
        width: 100%;
        height: 100vh;
        border-top: 1px solid #000;
    }
    .contact-button {
        display: none;
    }
    #cname {
        width: 100%;
    }
}