html {
    margin: 0;
    padding: 0;
    width: 100%;
    animation: fadeIn forwards 0.3s linear;
}

body{
    margin: 0;
    width: 100%;
}

h1 {
    position: fixed;
    font-size: 8vmin;
    margin: 0;
    opacity: 0.5;
    z-index: 100;
    top: 30vh;
    left: 0;
    writing-mode: vertical-rl;
    line-height: 0.6;
}

.head-title {
    margin: 0;
    margin-top: 15vmin;
    margin-bottom: 10vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-right: 5vmin;
    text-align: right;
    font-size: 5vmin;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    box-shadow: #000000 0px 0px 12px;
}

main {
    margin: 0;
    width: 100%;
    padding-top: 20vmin;
    padding-bottom: 20vmin;
}

.pickup {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vmin;
}

.pickup p:nth-child(1) {
    margin: 0;
    font-size: 4vmin;
    font-weight: bold;
    color: #292929;
    margin-bottom: 5vmin;
    text-align: center;
    text-decoration: underline;
}

.pickup-content {
    margin: 0;
    width: 60vw;
    cursor: url(/images/cursor-more.png), default;
    transition: transform 0.2s linear;
}

.pickup-content p {
    margin: 0;
    margin-top: 3vmin;
    font-size: 4vmin;
    font-weight: bold;
    color: #4d4d4d;
    text-align: center;
}

.pickup-content img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

h3 {
    margin: 0;
    font-size: 4vmin;
    font-weight: bold;
    color: #292929;
    margin-bottom: 10vmin;
    text-align: center;
    text-decoration: underline;
}

.contents {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 3vmin;
    margin-right: 3vmin;
}

.content {
    margin: 0;
    margin-left: 2vmin;
    margin-right: 2vmin;
    margin-bottom: 10vmin;
    width: 50vmin;
    text-decoration: none;
    cursor: url(/images/cursor-more.png), default;
    transition: transform 0.2s linear;
}

.content img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.content img:hover, .pickup-content img:hover {
    box-shadow: #000000 0px 0px 10px;
}

.content-text {
    margin: 0;
    padding-top: 0.8rem;
}

.content-text p:nth-child(1) {
    margin: 0;
    padding: 0;
    font-size: 2.5vmin;
    font-weight: bold;
    color: #4d4d4d;
    text-align: center;
}

@media screen and (max-width:500px) { /*phone*/

}

@media screen and (max-width:1400px) {
    .content {
        width: 40vmin;
    }
}