<link rel="stylesheet" href="/cproduction/component/paging/paging.css">
<script src="/cproduction/component/paging/paging.js"></script>

<footer>
    <div class="paging"></div>
    <p id="footer-title">SEZAN CreativePRODUCTION</p>
    <div id="footer-contents">
        <ul id="footer-menu">
            <li><a href="javascript:void(0)" onclick="go('/cproduction/cproduction.html');">HOME</a></li>
            <li><a href="javascript:void(0)" onclick="go('/cproduction/about/about.html');">ABOUT</a></li>
            <li><a href="javascript:void(0)" onclick="go('/cproduction/works/works.html');">WORKS</a></li>
            <li><a href="javascript:void(0)" onclick="go('/cproduction/event/event.html');">EVENTS</a></li>
            <li><a href="javascript:void(0)" onclick="go('/cproduction/contact/contact.php');">CONTACT</a></li>
            <li><a target="_blank" href="https://www.instagram.com/sezan_official/?ref=digital-life-asia&hl=af">INSTAGRAM</a></li>
        </ul>
    </div>
    <p id="copyright">@ 2024 聖傘.llc ALL RIGHTS RESERVED</p>
</footer>

<style>
    footer {
        background: none;
        position: relative;
        background: #ffffff;
        width: 100%;
        padding: 0;
        padding-top: 4vw;
        padding-bottom: 4vw;
        border-top: solid 1px #e9e9e9;
        box-shadow: #5f5f5f 0px 0px 10px;
    }

    #footer-title {
        color: #3b3b3b;
        font-size: 3vw;
        font-weight: bolder;
        margin: 0;
        margin-left: 4vw;
    }

    #footer-contents {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5vmin;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    #footer-contents ul {
        margin: 0;
        padding: 0;
    }

    #footer-contents ul li {
        list-style: none;
        margin-bottom: 0.8vw;
    }

    #footer-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer-menu li {
        margin-right: 2vw;
    }

    #footer-menu li:last-child {
        margin-right: 0;
    }

    #footer-menu li:hover {
        animation: pulse 0.5s infinite;
    }

    #footer-contents ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.4vmax;
        font-weight: bolder;
    }

    @keyframes rotation {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }

    #copyright {
        position: absolute;
        color: rgb(77, 77, 77);
        font-size: 1.3vw;
        text-align: center;
        font-weight: lighter;
        bottom: 0.5vw;
        right: 1vw;
        margin: 0;
    }

    @media screen and (max-width: 800px) {
        footer {
            display: none;
        }
    }
</style>