<footer>
    <div id="footer-contents">
        <p id="footer-title">聖傘</p>
        <ul id="footer-menu">
            <li><a href="/agent/about/about.html">ABOUT</a></li>
            <li><a href="/agent/talent/talent.html">TALENT</a></li>
            <li><a href="/agent/label/label.html">LABEL</a></li>
            <li><a href="/agent/contact/contact.php">CONTACT</a></li>
        </ul>

        <a href="https://www.instagram.com/sezan_official/?ref=digital-life-asia&hl=af" id="insta-icon">
            <img src="/images/Instagram_Glyph_White.png" alt="">
        </a>
    </div>
    <p id="copyright">@ 2024 聖傘 ALL RIGHTS RESERVED</p>
</footer>
<style>
    footer {
        background-color: black;
        width: 100%;
        padding: 0;
        padding-top: 5vh;
    }
    
    #footer-contents {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-bottom: 5vw;
    }
    
    #footer-title {
        color: white;
        font-size: 3vw;
        font-weight: bolder;
        margin: 0;
    }
    
    #footer-title::after{
        content: "sezan";
        color: rgba(112, 112, 112, 0.5);
        font-size: 3vw;
        font-weight: bolder;
        margin-left: 5rem;
        position: absolute;
        transform: translate(-70%, 15%);
    }
    
    #footer-contents ul {
        margin: 0;
        padding: 0;
    }
    
    #footer-contents ul li {
        list-style: none;
        margin-bottom: 0.8vw;
    }
    
    #footer-menu li:hover {
        animation: pulse 0.5s infinite;
    }
    
    #footer-contents ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.3vw;
        font-weight: bolder;
    }
    
    #copyright {
        color: rgb(255, 255, 255);
        font-size: 1vw;
        font-weight: bolder;
        margin: 0;
        margin-left: 1vw;
    }
</style>