::-webkit-scrollbar{
    width: 13px;
 }

 ::-webkit-scrollbar-track{
    background-color: #ccc;
 }

 ::-webkit-scrollbar-thumb{
    background-color: #17585d;
 }

html {
    animation: fadeIn forwards 0.3s linear;
}

body{
    background-color: #000000;
    width: auto;
    margin: 0;
    padding: 0;
    color: rgb(31, 31, 31);
    font-family: 'Fira Code';
    font-weight: 300;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

form {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin: 0;
    background-color: #0e0e0e;
}

.section{
    margin-bottom: 3rem;
    border-top: #9c9c9c solid 1px;
    padding-top: 3rem;
}

.h1-title{
    display: flex;
    justify-content: baseline;
    width: min-content;
    align-items: center;
    position: relative;
    margin-top: 7rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

.h1-title::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(0, 0, 0);
    animation: titleIn forwards 0.5s 0.5s linear;
}

@keyframes titleIn{
    0%{
        transform: translateX(0);
        display: block;
    }
    100%{
        transform: translateX(100%);
        display: none;
    }
}

.h1-title img{
    width: 4rem;
    margin-left: 1rem;
}

h1{
    margin: 0;
    font-size: 8vmin;
    font-weight: bolder;
    font-family: "Franklin Gothic";
    color: rgb(255, 255, 255);
}

h2{
    font-size: 2.1vmin;
    margin: 0;
    margin-bottom: 1vmin;
    font-weight: 150;
    margin-left: 2rem;
    color: #ffffff;
}

h3{
    font-size: 2vmin;
    font-weight:500;
    margin: 0;
    margin-bottom: 5vmin;
    opacity: 0;
    color: #ffffff;
    animation: fadeIn forwards 0.3s 1.2s linear;
}

.required{
    font-size: 1.8vmin;
    color: #ffffff;
    background-color: red;
    border-radius: 0.5vmin;
    margin-left: 1rem;
    padding: 0.2rem;
}

.name input{
    width: 80%;
    padding: 1.5vmin;
}

.name {
    opacity: 0;
    animation: fadeIn forwards 0.3s 1.5s linear;
}

.company {
    opacity: 0;
    animation: fadeIn forwards 0.3s 1.8s linear;
}

.tel {
    opacity: 0;
    animation: fadeIn forwards 0.3s 2.1s linear;
}

.mail {
    opacity: 0;
    animation: fadeIn forwards 0.3s 2.4s linear;
}

.title {
    opacity: 0;
    animation: fadeIn forwards 0.3s 2.7s linear;
}

.content {
    opacity: 0;
    animation: fadeIn forwards 0.3s 3s linear;
}

#submit {
    opacity: 0;
    animation: fadeIn forwards 0.3s 3.3s linear;
}

input{
    border: solid 1px #7a7a7a;
    border-radius: 0.5vmin;
    width: 50%;
    padding: 1%;
    font-size: 2.0vmin;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

textarea{
    padding: 1%;
    font-size: 2.0vmin;
    width: 50%;
    border: solid 1px #7a7a7a;
    border-radius: 0.5vmin;
    resize: both;
    height: 10rem;
    margin-left: 1rem;
}

#submit{
    width: auto;
    font-size: 2.5vmin;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5vmin;
    border: solid 1px #7a7a7a;
    background-color: #9c9c9c;
    color: rgb(255, 255, 255);
}

@media screen and (max-width:480px) { /*phone*/
    h1{
        font-size: 12vmin;
    }
    h2{
        font-size: 5vmin;
    }
    .input-infos{
        font-size: 4vmin;
    }
    #contact-content{
        font-size: 4vmin;
    }
    #submit{
        font-size: 4vmin;
    }
    h3{
        font-size: 3vmin;
    }
}