html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    animation: scrollLock 0.5s 5s forwards linear;
}

@keyframes scrollLock {
    from {
        overflow: hidden;
    }
    to {
        overflow: visible;
    }
}


body{
    margin: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: #ffffff;
    font-weight: lighter;
}

.opening {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    z-index: 1000;
    background-color: #0e0e0e;
    animation: opening-fadeout 6.5s linear forwards;
}

@keyframes opening-fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

main {
    margin: 0;
}

.top {
    margin: 0;
    font-size: 10vmin;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.swiper-cont-wrp {
    width: 100%;
    height: 78%;
    position: relative;
}

.titlelogo{
    position: absolute;
    width: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1001;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: title-move 6s 0.5s linear forwards;
    opacity: 0;
}

@keyframes title-move {
    0% {
        opacity: 0;
        width: 50%;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    90% {
        opacity: 1;
        width: 50%;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1001;
    }
    100% {
        opacity: 1;
        width: 40%;
        bottom: 2%;
        left: 1.5%;
        transform: translate(0%, 0%);
        z-index: 21;
    }
}

.mySwiper-top {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    box-shadow: #000000 0px 0px 24px;
    background-color: #868686;
}

.mySwiper-top swiper-slide::after{
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    z-index: 2;
}

.mySwiper-top swiper-slide {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-link {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    opacity: 0.2;
    transition: 0.3s;
}

.top-link:hover {
    background-color: #ffffff;
}

.name, .job {
    position: absolute;
    margin: 0;
    z-index: 10;
}

.name {
    top: 2%;
    left: 5%;
    color: #e9e9e9;
    font-size: 3.5vmin;
}

.job {
    top: 2%;
    left: 5%;
    color: #dadada;
    font-size: 3vmin;
    display: none;
}

.mySwiper-top swiper-slide img {
    height: 100%;
    aspect-ratio: 661/865;
}

.view-all-talents {
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-talents a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 1.7vw;
    position: relative;
    transition: 0.5s;
}

.view-all-talents a:hover {
    color: #ffffff;
}

.view-all-talents a:hover::after {
    background-color: #ffffff;
    width: 140%;
}

.view-all-talents a:hover::before {
    background-color: #ffffff;
    right: -40%;
}

.view-all-talents a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 1px;
    background-color: #8f8f8f;
    transition: 0.5s;
}

.view-all-talents a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -20%;
    width: 15%;
    height: 1px;
    transform-origin: right;
    transform: rotateZ(40deg);
    background-color: #8f8f8f;
    transition: 0.5s;
}

.fadeiner{
    animation: fadeIn 0.5s 0.2s linear forwards;
}

.new-works {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vmin;
    margin-top: 30vmin;
}

.works {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
}

.work {
    width: 38%;
    margin: 0;
    margin-bottom: 5vmin;
    padding: 0;
    text-decoration: none;
    opacity: 0;
}

.works-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 8vmin;
}

.works-title p {
    margin: 0;
    font-size: 3vmin;
    white-space: nowrap;
    font-weight: bolder;
    color: #999999;
}

.works-title span {
    width: 50%;
    height: 1px;
    background-color: #999999;
    margin: 0;
    margin-right: 2vmin;
    margin-left: 2vmin;
}

.works-contents {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 3vmin;
}

.work-info {
    width: 95%;
    padding-left: 3vmin;
    padding-right: 3vmin;
}

.work-info p{
    margin: 0;
    margin-top: 1.5vmin;
}

.work-info p:nth-child(1) {
    font-size: 1.2vw;
    font-weight: bolder;
    color: #d1d1d1;
}

.work-info p:nth-child(2) {
    font-size: 1vw;
    color: #6b6b6b;
}

.work {
    height: 100%;
}

.sambnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin: 0;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: url(/images/viewcontent.png), default;
    transition: 0.5s;
}

.work img:hover {
    box-shadow: #ffffff 0 0 12px;
}

.works-more-wrp {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
    margin-top: 3vmin;
    margin-right: 10vw;
}

.works-more-wrp a {
    text-decoration: none;
    font-size: 2vmin;
    white-space: nowrap;
    padding: 1vmin;
    padding-right: 2vmin;
    padding-left: 2vmin;
    width: min-content;
    border-radius: 3vmin;
    border: #d6d6d6 2px solid;
    color: #d6d6d6;
    transition: 0.5s;
    margin-left: 5vw;
}

.works-more-wrp a:hover {
    background-color: #d6d6d6;
    color: #0e0e0e;
}

@media screen and (max-width:500px) { /*phone*/

}

@media screen and (max-width:1250px) {
    .new-works {
        margin-top: 0;
    }
    .works {
        width: 90%;
    }
    .work {
        width: 90%;
    }
    .works-more-wrp {
        margin-top: 10vmin;
    }
    .works-more-wrp a {
        font-size: 4vmin;
    }
    .work-info p:nth-child(1) {
        font-size: 4vw;
    }
    .work-info p:nth-child(2) {
        font-size: 3.4vw;
    }
    #footer {
        display: none;
    }
}

@media screen and (max-width:650px) {
    .top {
        justify-content: start;
    }
    .swiper-cont-wrp {
        height: auto;
        margin-top: 20vw;
    }
    .mySwiper-top {
        background: none;
    }
    .mySwiper-top swiper-slide {
        width: 100%;
    }
    .top-link {
        width: 100%;
        height: 100%;
    }
    .name {
        color: #e9e9e9;
        font-size: 6vw;
    }
    .mySwiper-top swiper-slide img {
        width: 100%;
        aspect-ratio: 661/865;
    }
    .view-all-talents a {
        font-size: 3.7vw;
    }

}

@media screen and (min-width:1250px) {
    .top-left {
        cursor: url(/images/view-works.png), default;
    }
    .top-right {
        cursor: url(/images/view-talents.png), default;
    }
}